body {
	text-align: center;
	font-family: 'Crimson Text', sans-serif;
	font-weight: bold;
	
}

#header {
	padding: 0px;
}

h1 {
	color: lightgray;
	height:170px;
	background-color: #5DADE2;  
	font-size: 60px;
	margin:auto;
	padding-top:40px;
	font-family: 'Rock Salt', cursive;
	text-shadow: 2px 2px 4px #154360;
}

#container{
	width:800px;
	margin:50px auto;
	padding: 20px;
	height: 200px;
	font-size: 30px;
}

#quoteGenius{
	font-style: italic;
	font-weight: 1200;
	margin-bottom: 50px;
}

#buttonContainer{
	padding-bottom: 100px;
	margin-bottom: 50px;
}

#quoteButton{
	width:400px;
	border-radius:10px;
	border:2px solid #5DADE2;
	color:#045;
	font-weight:bold;
	font-size: 30px;
	padding:20px 35px 20px 35px;
	text-decoration:none;
}

#quoteButton:hover{
	padding:25px 40px 25px 40px;
	cursor:pointer;
	background:#09c;
	color: #fff;	
	border-color:#154360;
}
#quoteButton:active{
	cursor: pointer;
}


img {
	opacity:0.5;
    display: block;
	margin: auto;
	margin-top: 50px;
	border-radius: 20px;
}

@media screen and (min-width: 0px) and (max-width: 720px) {
	img {
		 display: none; 
		}
  

  h1 {
	  font-size: 40px;
	  height: 250px;
  }

  #quoteButton, #quoteGenius, #quoteContainer {
	  text-align: center;
	    
  }

  #quoteContainer {
	  font-size: 20px;
	  margin:auto;
  }
}